
#commonPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#asideLeft {
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(36, 35, 35);
}

#asideRight {
    width: 80%;
    height: 100vh;
    background-color: black;
    overflow-y: scroll;
}

.menu {
    margin-top: 120px;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#logo {
    width: 40%;
    height: fit-content;
    margin-top: 30px;
    position: relative;
    border: 2px dotted wheat;
    border-radius: 50%;
    background-image: linear-gradient( #f03,#08f,#08f, #f03);
}
#logo img{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.selectMenu {
    padding: 10px;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: center; */
    gap: 10%;
    border: 2px solid rgb(36, 35, 35);
    color: white;
    font-size: larger;
    font-weight: 200px;
    text-decoration: none;
}
.activeMenu {
    padding: 10px;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    border: 2px solid rgb(36, 35, 35);
    color: orange;
    font-size: larger;
    text-decoration: none;
    border-bottom: 2px solid pink;
}

.icon {
    font-size: xx-large;
}

.selectMenu:hover {
    --border-size: 3px;
    /* initial state */
    --border-angle: 0turn;
    width: 45%;
    background-image: conic-gradient(from var(--border-angle), rgb(36, 35, 35), rgb(36, 35, 35) 50%, rgb(36, 35, 35)),
        conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
    background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)), cover;
    background-position: center center;
    background-repeat: no-repeat;
    animation: rotate 1s linear infinite;
    border-radius: 10px;
}

@keyframes rotate {
    to {
        /* after state */
        --border-angle: 1turn;
    }
}

@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}
.selectMenu:focus{
    color: orange;
    font-size: larger;
    text-decoration: none;
    border-bottom: 2px solid pink;
}

@media screen and (max-width:800px){
    #asideLeft {
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        background-color: rgb(36, 35, 35);
    }
    .menu {
        margin-top: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 70%;
    }
    .icon{
        font-size: large;
    }
}