#contact{
    width: 100%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.contact{
    width: 100%;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
#contactHead{
    margin-top: 30px;
}
#contactHead h1{
    font-size: xx-large;
    margin: 0px;
}

#firstChild{
    margin-top: 2px;
    width: 70px;
    height: 3px;
    background-color: orange;
}
#secondChild{
    margin-top: 2px;
    width: 45px;
    height: 3px;
    background-color: orange;
}

.question{
    margin-top: 100px;
}
.question h2{
    color: orange;
}
.waytoContact{
    margin-top: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.call{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.icon{
    color: orange;
}
.messageForm{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.messageForm form{
    margin: 30px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.firstinput{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#user_name,#user_email{
    padding-left: 30px;
    width: 50%;
    height: 50px;
    border-radius: 50px;
    color: white;
    font-size: larger;
    background-color: rgb(57, 56, 56);
}
#subject{
    padding-left: 30px;
    width: 100%;
    height: 50px;
    border-radius: 50px;
    color: white;
    font-size: larger;
    background-color: rgb(57, 56, 56);
}
#message{
    padding: 30px 0 0 30px;
    width: 100%;
    border-radius: 20px;
    color: white;
    font-size: x-large;
    background-color: rgb(57, 56, 56);
}

#msgbtn{
    padding: 2%;
    width: 300px;
    font-size: x-large;
    border-radius: 50px;
    background-color: orange;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#msgbtn:hover{
    box-shadow: 0px 0px 10px 5px bisque;
}

@media screen and (max-width:898px){
    .waytoContact{
        margin-top: 100px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        justify-content: space-around;
    }
    h3,h4{
        font-size: 90%;
    }
    #msgbtn{
        font-size: large;
    }
    .firstinput{
        display: flex;
        flex-direction: column;
    }
    #user_name, #user_email{
        width: 100%;
    }
}